<template>
  <div class="banner">
    <img v-if="isFeatureFlagEnabled" src="doge.png" alt="an image" class="doge" />
    <img v-else src="spacex.png" alt="an image" class="doge"/>
    <unleash-feature name="banner">
      <img src="spacex.png" alt="an image" class="doge"/>
    </unleash-feature>
  </div>
</template>

<script>

import UnleashFeature from '@/components/UnleashFeature'

export default {
	name: 'Banner',
  components: {
    UnleashFeature
  },
  data(){
    return {
      isFeatureFlagEnabled: false
    }
  },
  async created() {
    this.isFeatureFlagEnabled = await this.$featureIsEnabled('banner')
  },
}
</script>

<style>
.banner {
	text-align: center;
  margin-bottom: 30px;
}

.doge{
  width: 300px;
}
</style>
