<template>
  <span v-if="loading">Loading NASA results...</span>
</template>
<script>
export default {
    name: 'Loader',
    props: {
        loading: {
            type: Boolean,
            required: true
        }
    }
}
</script>
