<template>
  <div class="search">
    <form @submit.prevent="doRequest(query)">
      <input v-model="query">
    </form>
    <span class="results">
      <span v-if="!isLoading">Found images({{ numberOfImages }})</span>
      <Loader
        v-else
        :loading="isLoading"
      />
    </span>
    <Gallery
      v-show="numberOfImages > 0"
      :results="results"
    />
  </div>
</template>

<script>
import axios from 'axios'
import Gallery from '@/components/Gallery'
import Loader from '@/components/Loader'

export default {
	name: 'Search',
	components: {
		Gallery,
		Loader
	},
  props: {

  },
	data() {
		return {
			numberOfImages: 0,
			query: "",
			results: [],
			isLoading: false
		}
	},
	methods: {
		doRequest(query) {
			this.isLoading = true
      this.numberOfImages = 0

			axios
				.get('https://images-api.nasa.gov/search', {
					params: {
						media_type: 'image',
						q: query
					}
				})
				.then(response => {
          setTimeout(() => {
            this.isLoading = false
            this.results = response.data.collection.items
            this.numberOfImages = this.results.length
          }, 500)
				})
		}
	}
}
</script>

<style>
.search {
	text-align: center;
}
.search input {
	padding: 6px;
	margin-bottom: 12px;
	font-size: 18px;
}

.results{
  display: block;
  margin-bottom: 20px;
}
</style>
